- content_for :head do
  :css
    .error { color: red; }

= render '/tabs'

-# Hierarchy item template
%script{type: "text/html", id: "hierarchy-items-template"}
  %div
    %a{ko(click: :toggleExpand, style: {marginLeft: "'' + (level() * 20) + 'px'"}), href: 'javascript:void(0)'}
      %img{ko(attr: {src: "'#{InsteddRails.url}/theme/images/icons/18/black/folder' + (expanded() ? '_open' : '') + '.png'"}), style: 'position:relative;top:2px'}
      %span{ko(text: :name)}
    /ko if: expanded
    /ko template: {name: 'hierarchy-items-template', foreach: hierarchyItems}
    //ko
    //ko

.tabsline
  #queries-main
    %h2 Queries
    / %p Manage queries of this collection's sites

    / - if current_user_snapshot.at_present? && collection_admin?
      
    /   .box.grey.add
    /     %span{style:'padding-top:6px;'}
    /       = 'Add layer'
    /     %button.cadd.right{type: :button, style: 'margin-top:3px;margin-right:0px;', title: 'Add new queries'}
    /     %br{clear: :all}