%hr/
= ko_check_box_tag :is_enable_dependancy_hierarchy, css: {error: :codeError}
%span Enable dependancy hierarchy
%p.smalltext This field will be rendering as the dependancy hierarchy select

/ko if: isAllowDependancyHierarchyFieldConfig()
%select{"data-bind" => 'foreach: $root.layersWithDependentHierarchyFields(), value: impl().parentHierarchyFieldId'}
  /ko if: $index() == 0
  %option{value: ""} (no value)
  //ko
  %optgroup{"data-bind" => "attr: {label: name}, foreach: dependentHierarchyFields"}
    %option{"data-bind" => "text: name, option: name, value: id"}
//ko
