%hr/
%label{ko(css: {error: :nameError})}= t('views.layers.form.field.name')
%p.smalltext= t('views.layers.form.field.the_name_of_this_field_as_it_is_presented')
= ko_text_field_tag :name, hasfocus: :hasFocus, css: {error: :nameError}, html: { id: 'field_name'}

%hr/
%label{ko(css: {error: :codeError})}= t('views.layers.form.field.code')
%p.smalltext= t('views.layers.form.field.the_abbreviation_used_to_report_via_SMS.')
= ko_text_field_tag :code, valueUpdate: :afterblur, css: {error: :codeError}
%br
%br
