%hr/
%div{"style" => "padding: 5px 0px;"}
  %label Design custom field as you want
  %span.smalltext.left{style: 'padding-right:18px;padding-top:10px;'}= t('views.layers.form.field.select_fields')
  = select_tag nil, nil, 'data-bind'=> "options: $root.customWidgetedFields,
                                           optionsText: 'name',
                                           value: $root.selectedCustomWidgetField,
                                           optionsCaption: window.model.default_select, css: { error: !$root.selectedCustomWidgetField() } ",
                                           class: 'c-select m-select'

  %button.clist-add{ko(click: '$root.addCustomWidgetedFieldItem',
                       enable: '$root.customWidgetedFields().length >0'),
                       title: 'Add another option'}

  %textarea{"data-bind" => "tinymce: impl().widgetContent", class: 'tinymce'}
  %br
  %span.error{ko(text: :widgetMappingerror)}
