.homepage
  .right
    .illustration
  %h1.home{:style => "margin-top: 0px;"}=t('views.homepage.index.make_better_decisions')
  %p.sub{:style => "font-size: 26px;"}=t('views.homepage.index.by_knowing_where_your_resources_are_in_real_time')
  
  %p{:style => "font-size: 16px;"}
    %span.r-arrow{:style => "margin-left: 4px"} 
    %span{:style => "font-weight:bold;"}=t('views.homepage.index.free')
    %span=t('views.homepage.index.free_description')
  %p{:style => "font-size: 16px;"}
    %span.r-arrow{:style => "margin-left: 4px"}
    %span{:style => "font-weight:bold;"}=t('views.homepage.index.free')
    %span=t('views.homepage.index.insightful_description')
  %p{:style => "font-size: 16px;"}
    %span.r-arrow{:style => "margin-left: 4px"}
    %span{:style => "font-weight:bold;"}=t('views.homepage.index.collaborative')
    %span=t('views.homepage.index.collaborative_description')
  %p{:style => "font-size: 16px;"}
    %span.r-arrow{:style => "margin-left: 4px"}
    %span{:style => "font-weight:bold;"}=t('views.homepage.index.sms_enabled')   
    %span=t('views.homepage.index.sms_enabled_description')
  %p{:style => "font-size: 16px;"}
    %span.r-arrow{:style => "margin-left: 4px"}
    %span{:style => "font-weight:bold;"}=t('views.homepage.index.map_ready')   
    %span=t('views.homepage.index.map_ready_description')

  %br/

  - if current_user
    %p
      =link_button_to t('views.homepage.index.view_your_collections'), collections_path, :class => "orange" , :style => "font-size: 24px; height: 52px; width: 260px;margin: auto;"

    %p
  - else
    %p
      = link_button_to 'Sign up for free', new_user_registration_path, :class => "orange", :style => "font-size: 24px; height: 52px; width: 220px;margin: auto;"
  .clear
  / #container
  .home-middle-bar{:style => "margin: 25px auto 20px;"}
    .benefits
      %ul#benefits-container
        %li
          %span.get-update.left
          %h3=t('views.homepage.index.get_updates') 
          %p=t('views.homepage.index.get_updates_description')
          %br{:clear => "all"}/
        %li
          %span.visualize-and-update.left
          %h3=t('views.homepage.index.visualize_and_update')
          %p=t('views.homepage.index.visualize_and_update_description')
          %br{:clear => "all"}/
        %li
          %span.update.left
          %h3=t('views.homepage.index.update')
          %p=t('views.homepage.index.update_description')
          %br{:clear => "all"}/
        %li
          %span.identify.left
          %h3=t('views.homepage.index.identify')
          %p=t('views.homepage.index.identify_description')
          %br{:clear => "all"}/
        %li
          %span.receive.left
          %h3=t('views.homepage.index.receive')
          %p=t('views.homepage.index.receive_description')
          %br{:clear => "all"}/
        %li
          %span.collaborate.left
          %h3=t('views.homepage.index.collaborate') 
          %p=t('views.homepage.index.collaborat_description')  
          %br{:clear => "all"}/
        %li
          %span.maintain.left
          %h3=t('views.homepage.index.maintain')
          %p=t('views.homepage.index.maintain_description') 
          %br{:clear => "all"}/
        %li
          %span.i48grad-free.left
          %h3=t('views.homepage.index.free1')
          %p=t('views.homepage.index.free1_description') 
          %br{:clear => "all"}/

        %li
          %span.i48grad-openSource.left
          %h3=t('views.homepage.index.open_source') 
          %p=t('views.homepage.index.open_source_description') 
          %br{:clear => "all"}/
      / #benefits-container
    / #benefits
  / #home-middle-bar
  #container
    %h1=t('views.homepage.index.what_can_i_use_it_for') 
    %p.desc{:style => "margin:0 0 30px !important;"}
      =t('views.homepage.index.usage_information')
    %p
      %a{:href => "/real-time-resource-tracking", :style => "font-weight:bold; font-size:30px; margin-left: auto; margin-right: auto; width: 230px; display:block;"}=t('views.homepage.index.find_out_how')
        
