.homepage
  #container
    %h1=t('views.homepage.index.what_can_i_use_it_for') 
    %p.desc{:style => "margin:0 0 15px !important;"}
      =t('views.homepage.index.usage_information')
    .left.w45{:style => "width: auto !important;"}
      %h2=t('views.homepage.second_page.tracking_medical_supplies_and_personnel')
      .icon-container.left
        %span.tracking-medical-supplies      
      %p{:style => "font-size: 16px;"}=t('views.homepage.second_page.tracking_medical_supplies_and_personnel_description')
    / #left w45
    .clear
    / #clear
    %br/
    .right.w45{:style => "width: auto !important;"}
      %h2=t('views.homepage.second_page.monitoring_food_prices_and_supply_levels') 
      .icon-container.left
        %span.monitoring-food-price
      %p{:style => "font-size: 16px;"}=t('views.homepage.second_page.monitoring_food_prices_and_supply_levels_description')  
    / #left w45
    .clear
    / #clear
    %br/
    .left.w45{:style => "width: auto !important;"}
      %h2=t('views.homepage.second_page.managing_disease_prevention_supplies')  
      .icon-container.left
        %span.managing-disease-prevention-supplies  
      %p{:style => "font-size: 16px;"}=t('views.homepage.second_page.managing_disease_prevention_supplies_description')
    / #left w45
    .clear
    / #clear
    %br/
    .right.w45{:style => "width: auto !important;"}
      %h2=t('views.homepage.second_page.testing_environmental_health')   
      .icon-container.left
        %span.testing-enviromental-health
      %p{:style => "font-size: 16px;"}=t('views.homepage.second_page.testing_environmental_health_description')    
    / #left w45
    .clear
    / #clear
    %br/
    %br/
    .box.plain.grey.features

      %h2=t('views.second_page.index.features') 
      %br
      .left.w45{:style => "font-size: 16px;"}
        %div
          %span.r-arrow>
          =t('views.homepage.second_page.features_a') 
        %div
          %span.r-arrow>
          =t('views.homepage.second_page.features_b') 
        %div
          %span.r-arrow>
          =t('views.homepage.second_page.features_c') 
        %div
          %span.r-arrow>
          =t('views.homepage.second_page.features_d') 
      / #left w45
      .right.w45{:style => "font-size: 16px;"}
        %div
          %span.r-arrow>
          =t('views.homepage.second_page.features_e') 
        %div
          %span.r-arrow>
          =t('views.homepage.second_page.features_f') 
        %div
          %span.r-arrow>
          =t('views.homepage.second_page.features_g') 
        %div 
          %span.r-arrow>
          =t('views.homepage.second_page.features_h') 
      / #right w45
      .clear
      / #clear
    / #box plain grey
    %br/
    %br/
    .box.plain.grey.features
      %p{:style => "margin: 0px;"}
        = link_button_to t('views.homepage.second_page.sign_up_for_free'), new_user_registration_path, :class => "orange", :style => "font-size: 18px; height: 46px; width: 200px;margin-left:auto; margin-right: auto; display:block;"

    %br/ 
    %br/
    .w45.left{:style => "width: auto !important;"}

      %h1=t('views.homepage.second_page.how_does_it_work')
      %p{:style => "font-size: 16px;"}=t('views.homepage.second_page.how_does_it_work_description') 
    / #w45 left
    = image_tag 'how_does_it_work.png', :localized => true, :style => "margin-left: auto; margin-right: auto;  display:block;"
    / #w45 right
    .clear
    / #clear
  #container
    %h1{:style => "margin: 5px 0 20px;"}=t('views.homepage.second_page.who_is_using_it') 

    .left.w45{:style => "width: auto !important;"}

      %h2=t('views.homepage.second_page.cnm') 
      .icon-container.left
        %span.client-cnm
      %p{:style => "font-size: 16px;"}=t('views.homepage.second_page.cnm_description') 
      / #left w45
    .clear
    / #clear
    %br/

    .right.w45{:style => "width: auto !important;"}

      %h2=t('views.homepage.second_page.center_for_malaria_parasitology_and_entomology')  
      .icon-container.left
        %span.client-CMPE
      %p{:style => "font-size: 16px;"}=t('views.homepage.second_page.center_for_malaria_parasitology_and_entomology_description')  
    
    .clear
    %br
    .left.w45{:style => "width: auto !important;"}

      %h2=t('views.homepage.second_page.rwanda_ministry_of_health')   
      .icon-container.left
        %span.client-wranda-ministry-of-health
      %p{:style => "font-size: 16px;"}=t('views.homepage.second_page.rwanda_ministry_of_health_description') 

    / #left w45
    .clear
    %br
    %br 
  .box.plain.grey.features
    %p{:style => "margin: 0px;"}
      = link_button_to t('views.homepage.second_page.sign_up_for_free'), new_user_registration_path, :class => "orange", :style => "font-size: 18px; height: 46px; width: 200px;margin-left: auto; margin-right: auto;  display:block;"

