<!-- calculate result only need if and only if there is a result parttern in the template -->
<% if template.has_report_place_holder?  %>
  <table class="GralTable tableview">
    <% template.report_result.each do |row| %>
        <tr>
          <% row.each do |col| %>
            <td><%= col %></td>
          <% end %>
        </tr>
    <% end %>
  </table>
<% end %>
