<%= render '/tabs' %>
<div class="container">
  <div class=""> Result </div>
  <table class="GralTable tableview">
    <% @result.each do |row| %>
        <tr>
          <% row.each do |col| %>
            <td><%= col %></td>
          <% end %>
        </tr>
    <% end %>
  </table>
</div>
