<%= render '/tabs' %>
<h2>Report<h2>

<div class="">
  <div class=""> Report </div>
  <%= debug @report.result %>
</div>

<div class="">
  <div class=""> Facet </div>
  <%= debug @report.facet %>
</div>
