.custom_widget-wrapper table {
  border: 1px solid #ccc;
  width: 100% !important;
  table-layout: fixed;
}

.custom_widget-wrapper tr {
  border: 1px solid #ccc;
  height: auto !important;
}

.custom_widget-wrapper td {
  border: 1px solid #ccc;
  width: 100% !important;
  height: 100% !important;
}

.custom_widget-wrapper td .custom {
  width: 90%;
  float: left;
  margin-left: auto;
  margin-right: auto;
  border: none ;
  box-shadow: none;
  text-align: center;
}
.custom_widget-wrapper input.custom:focus{
    border: none !important;
    box-shadow: none !important;
}
