.mce-tinymce .mce-container .mce-panel .mce-fullscreen {
  z-index: 1000;
}

ul.tabs.top li a {
  z-index: auto !important;
}

#instedd-pulldown {
  z-index: auto !important;
}

.RightMenu {
  z-index: auto !important;
}
