%div.aggregator-wrapper
  %label Design custom field as you want
  %div{style: "padding-top: 10px"}
    %span.smalltext.left Collections
    = select_tag nil, nil, 'data-bind'=> "options: $root.collectionList,
                                           optionsText: 'name',
                                           optionsValue: 'id',
                                           value: impl().selectedCollection,
                                           optionsCaption: window.model.default_select, css: { error: !impl().selectedCollection() } ",
                                          'class'=> 'c-select s-select'

%div.aggregator-wrapper
  %span.smalltext.left Condition
  = select_tag nil, nil, 'data-bind'=> "options: impl().selectedCollectionFieldList,
                                           optionsText: 'name',
                                           optionsValue: 'id',
                                           value: impl().conditionFieldId,
                                           optionsCaption: window.model.default_select, css: { error: !impl().conditionFieldId() } ",
                                          'class'=> 'c-select s-select'
  %span.w06
    %input{ko(value: "impl().conditionFieldValue"), type: "text"}
%div.aggregator-wrapper
  %span.smalltext.left Aggregator type
  = select_tag nil, nil, 'data-bind'=> "options: impl().aggregatorTypeList,
                                           value: impl().selectedAggregatorType,
                                           optionsCaption: window.model.default_select, css: { error: !impl().selectedAggregatorType() } ",
                                          'class'=> 'c-select s-select'

%div{"style" => "padding: 5px 0px;"}
  = select_tag nil, nil, 'data-bind'=> "options: impl().selectedCustomWidgetFieldList,
                                           optionsText: 'name',
                                           value: impl().selectedCustomWidgetField,
                                           optionsCaption: window.model.default_select, css: { error: !impl().selectedCustomWidgetField() } ",
                                          'class'=> 'c-select m-select'

  %button.clist-add{ko(click: 'impl().addCustomWidgetedFieldItem'),
                       value: 'Add Field',
                       title: 'Add another option'}

/ko if: impl().aggregatedFieldList().length > 0
%div{style: 'border: 1px solid #ccc; padding:0px 0 0 10px;border-radius: 5px'}
  %ul.list
    /ko foreach: impl().aggregatedFieldList()
    %li.list-item
      %div{ko(text: :name)}
      %button.premove{ko(click: '$parent.impl().removeCustomWidgetedFieldItem'),
                           value: 'Remove Field',
                           title: 'Remove another option', style: 'display: inline-block;'}
    //ko
//ko
