%div{style: 'padding:15px;'}
  #div{ko(click: 'function(data, event) { $root.toggleRefineProperty("update") }'), style: 'cursor:pointer'}
    %img{ko(attr: {src: "'#{InsteddRails.url}/theme/images/icons/misc/grey/arrow' + ($root.expandedRefineProperty() == \"update\" ? 'Down' : 'Right') + '.png'"}), style: "position:relative;top:1px", width: 11, height: 11}
    %span=t('views.queries.conditions.updated_within')
  /ko if: $root.expandedRefineProperty() == 'update'
  #div{style: 'padding:10px;margin-left:10px'}
    %input#refine-last-hour{ko(checked: '$root.expandedRefinePropertyValue'), type: :radio, name: 'refine-update', value: 'last_hour'}
    %label{:for => 'refine-last-hour'}=t('views.queries.conditions.the_last_hour') 
    %br/
    %input#refine-last-day{ko(checked: '$root.expandedRefinePropertyValue'), type: :radio, name: 'refine-update', value: 'last_day'}
    %label{:for => 'refine-last-day'}=t('views.queries.conditions.the_last_day')  
    %br/
    %input#refine-last-week{ko(checked: '$root.expandedRefinePropertyValue'), type: :radio, name: 'refine-update', value: 'last_week'}
    %label{:for => 'refine-last-week'}=t('views.queries.conditions.the_last_week')   
    %br/
    %input#refine-last-month{ko(checked: '$root.expandedRefinePropertyValue'), type: :radio, name: 'refine-update', value: 'last_month'}
    %label{:for => 'refine-last-month'}=t('views.queries.conditions.the_last_month')    
    %br/
    %button.white{ko(click: '$root.saveCondition', enable: '$root.validCondition')}=t('views.queries.ok')    
  //ko


  #div{ko(click: 'function(data, event) { $root.toggleRefineProperty("location_missing") }'), style: 'cursor:pointer;padding-top:6px'}
    %img{ko(attr: {src: "'#{InsteddRails.url}/theme/images/icons/misc/grey/arrow' + ($root.expandedRefineProperty() == \"location_missing\" ? 'Down' : 'Right') + '.png'"}), style: "position:relative;top:1px", width: 11, height: 11}
    %span=t('views.queries.conditions.location_missing')
    /ko if: $root.expandedRefineProperty() == 'location_missing'
    #div{ko(click: '$root.filterByLocationMissing'), style: 'cursor:pointer;padding:10px;margin-left:10px'}
      %a.white.button{ko(click: '$root.saveCondition')}=t('views.queries.ok')
    //ko

  /ko foreach: $root.layers()
  %div.coldiv{ko(css: {coldiv: '!expanded()', expdiv: 'expanded()'}), style: 'margin-top:24px;margin-bottom:14px'}
    %span{ko(text: :name, click: :toggleExpand), style: 'font-weight:bold;color:grey;cursor:pointer'}
  /ko if: expanded()
  /ko foreach: fields
  /ko if: kind != 'photo' && kind != 'calculation'&& kind != 'location'&& kind != 'identifier' && kind != 'custom_widget'

  #div{ko(click: 'function (data, event) { $root.toggleRefineProperty($data.id) }'), style: 'cursor:pointer;padding-top:6px; padding-left:30px;'}
    %img{ko(attr: {src: "'#{InsteddRails.url}/theme/images/icons/misc/grey/arrow' + ($root.expandedRefineProperty() == id ? 'Down' : 'Right') + '.png'"}), style: "position:relative;top:1px", width: 11, height: 11}
    %span{ko(text: :name)}
  //ko
  /ko if: $root.expandedRefineProperty() == id
  #div{style: 'padding:10px;margin-left:10px'}
    /ko if: kind == 'text' || kind == 'user' || kind == 'email' || kind == 'phone'
    %select{ko(value: '$root.expandedRefinePropertyOperator')}
      %option{value: '='}=t('views.queries.conditions.starts_with') 
      %option{value: 'empty'}=t('views.queries.conditions.has_no_value')  

    /ko if: $root.expandedRefinePropertyOperator() != 'empty'
    %input{ko(value: '$root.expandedRefinePropertyValue', valueUpdate: :afterkeydown, event: {keydown: '$root.expandedRefinePropertyValueKeyPress'}, hasfocus: true)}
    //ko

    %button.white{ko(click: '$root.saveCondition', enable: '$root.validCondition')}=t('views.queries.ok')
    //ko

    /ko if: kind == 'site'
    %select{ko(value: '$root.expandedRefinePropertyOperator')}
      %option{value: '='}=t('views.queries.conditions.is')  
      %option{value: 'empty'}=t('views.queries.conditions.has_no_value')  

    /ko if: $root.expandedRefinePropertyOperator() != 'empty'
    %input.autocomplete-site-input{ko(value: '$root.expandedRefinePropertyValue', valueUpdate: :afterkeydown, hasfocus: true), type: :text}
    //ko

    %button.white{ko(click: '$root.saveCondition', enable: '$root.validCondition')}=t('views.queries.ok')
    //ko

    /ko if: kind == 'yes_no'
    %select{ko(value: '$root.expandedRefinePropertyValue')}
      %option{value: 'yes'}=t('views.queries.conditions.is_yes')
      %option{value: 'no'}=t('views.queries.conditions.is_no')
    %a.button.white{ko(click: '$root.saveCondition')}=t('views.queries.ok')
    //ko

    /ko if: kind == 'numeric'
    %select{ko(value: '$root.expandedRefinePropertyOperator')}
      %option{value: '='}=t('views.queries.conditions.equals') 
      %option{value: '<'}=t('views.queries.conditions.is_less_than')
      %option{value: '<='}=t('views.queries.conditions.is_less_than_or_equal_to') 
      %option{value: '>'}=t('views.queries.conditions.is_greater_than')
      %option{value: '>='}=t('views.queries.conditions.is_greater_than_or_equal_to') 
      %option{value: 'empty'}=t('views.queries.conditions.has_no_value')

    /ko if: $root.expandedRefinePropertyOperator() != 'empty'
    %input{ko(value: '$root.expandedRefinePropertyValue', valueUpdate: :afterkeydown, event: {keydown: :validateFormat}, hasfocus: true, attr: {id: "'numeric-input-' + code"}), type: :number}
    //ko

    %button.white{ko(click: '$root.saveCondition', enable: '$root.validCondition')}=t('views.queries.ok')
    //ko

    /ko if: kind == 'date'
    %select{ko(value: '$root.expandedRefinePropertyOperator')}
      %option{value: '='}=t('views.queries.conditions.is_between') 
      %option{value: 'empty'}=t('views.queries.conditions.has_no_value')

    /ko if: $root.expandedRefinePropertyOperator() != 'empty'
    %input.ux-datepicker#range_from{ko(value: '$root.expandedRefinePropertyDateFrom', valueUpdate: :afterkeydown, hasfocus: true), type: :text}
    =t('views.queries.conditions.and')
    %input.ux-datepicker#range_to{ko(value: '$root.expandedRefinePropertyDateTo', valueUpdate: :afterkeydown, hasfocus: true), type: :text}
    //ko

    %button.white{ko(click: '$root.saveCondition', enable: '$root.validCondition')}=t('views.queries.ok')
    //ko

    /ko if: kind == 'hierarchy'
    = render 'queries/condition_hierarchy_template'
    //ko

    /ko if: kind == 'select_one' || kind == 'select_many'
    =t('views.queries.conditions.is1')
    %select{ko(value: '$root.expandedRefinePropertyValue', options: 'config.options', optionsValue: 'function(o){return o.id }', optionsText: 'function(o){return o.label }')}
    %a.button.white{ko(click: '$root.saveCondition')}=t('views.queries.ok')
    //ko
  //ko
  //ko
  //ko
  //ko
