.row{
  margin-top: 10px;
  margin-bottom: 10px;
}

.hierarchySet{
  clear: both;
  padding-bottom: 10px;
}

.hierarchySetName{
  width: 120px;
  display: inline-block;
  color: grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
