.control{
  margin: 10px;
}

.control div{
  float: left;
}

.control label{
  float: left;
  width: 150px;
  padding-left: 19px;
}

.control input, .control select, .control span{
  margin-right:20px;
}

.control .box{
  padding: 5px 10px;
  height: 20px;
  margin-right: 15px;
  float: left;
}

.box.grey{
  margin-top: 10px;
}

.control .box span{
  margin-right: 0px;
}

.control ul.list{
  margin-left: 169px;
}

.control ul.list li{
  margin-bottom: 5px;
}
.light-grey{
  background-color: #f0f0f0;
}

.control div.select{
  float:left;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.w90{
  margin-top: 10px;
}

.control .padd[disabled]{
  opacity: 0.6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: 0px 1px 0px white;
  cursor: default;
  color: #999999;
}

label.error{
  /*padding-left: 10px;*/
}
