<!-- ko if: currentCollection() && currentCollection().groupByOptions().length > 1 -->
.left{ko(with: :currentCollection), style: 'margin-right:8px'}
  = t('views.collections.index.group_by')
  %select{ko(value: '$root.groupBy', options: :groupByOptions, optionsText: "'name'")}
  <!-- ko if: queries().length > 1 -->
  %br
  %br
  = t('views.collections.index.query')
  %select{ko(value: '$root.selectedQuery', options: :queries, optionsText: "'name'", optionsCaption: "\'None\'", event:{ change: '$root.refineFilters'}), style: 'max-width:210px; margin-left:20px'}
  <!-- /ko -->
<!-- /ko -->

.right
  %form{ko(submit: 'performSearchOrHierarchy'), action: '#/null', method: :post}
    <!-- ko if: lastSearch() -->
    %p{style: 'display:inline'}
      = ko_link_to 'clear search', :clearSearch
    <!-- /ko -->
    = ko_text_field_tag :search, html: {class: 'ux-search', placeholder: t('views.collections.index.search')}
.clear
%br/
