<!-- ko with: currentCollection -->
<!-- ko if: showingCollectionAlert() -->
<!-- ko if: !$root.toggleLegend() -->
%div#alert-legend{style: 'position: absolute; top: 45px; right: 15px; z-index: 99;'}
  %div{ko(click: '$root.toggleAlertLegend'), style: 'cursor: pointer;line-height: 30px; background-color:#ffffff; vertical-align:middle; padding-left:10px; font-size:15px;border-radius: 5px 5px 5px 5px;'}
    %b Legend
    %img{ko(visible: '$root.loadingLegend'),src: "/assets/load.gif", style: 'width:15px; padding-left:7px'}
    %img{src: "/assets/round_plus.png", style: 'padding:7px 7px 0px;'}
<!-- /ko -->

<!-- ko if: $root.toggleLegend() -->
%div#alert-legend{style: 'position: absolute; top: 50px; right: 15px; z-index: 99; background-color:white;max-height:200px;overflow-y:auto;border-radius:10px'}
  %div{ko(click: '$root.toggleAlertLegend'), style: 'cursor: pointer;line-height: 30px; background-color:#E6E6E6; vertical-align:middle; padding-left:10px; font-size:15px; positio; border-radius: 10px 10px 0px 0px;'}
    %b Legend
    %img{ko(visible: '$root.loadingLegend'),src: "/assets/load.gif", style: 'width:15px; padding-left:7px'}
    %img.right{src: "/assets/round_minus.png", style: 'padding:5px 10px 0px'}

  %ul#legend_alert_list{ko(foreach: :thresholds), style: 'min-width:200px;padding-left:5px; padding-right:5px; list-style:none; max-width:350px;'}

    <!-- ko if: showingThreshold() -->
    %li{style: 'height:auto;'}
      %div{style: 'padding-right:5px;float:left'}
        %img{"data-bind" => "attr: { src:iconUrl }", style: 'width:20px;' }
      %div{style:'line-height:20px;; vertical-align:middle;padding-top:2px; padding-bottom:10px; '}
        %span{ko(text: :propertyName)}
        %span :
        %span{ko(text: :alertedSitesNum)}
    <!-- /ko -->
  %div{style: 'height: 20px; background-color:#E6E6E6;border-radius: 0px 0px 10px 10px;'}
<!-- /ko -->

<!-- /ko -->
<!-- /ko -->
